@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #f2f3f3;
  --color-secondary: #667085;
  --color-tertiary: #f8fafc;
  --color-app-neutral: #f5f5f5;
  --color-card: #ffffff;
}
